.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
aggregated.rds
aggregated_low.rds
aggregated_res.rds
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Vítor_proof.docx
data/HELIUS_itemscores.sav
.DS_Store
present/networkmeeting_KP.html.zip

aggregated2.rds
aggregated3.rds
/helius_check
.DS_Store
.DS_Store
.DS_Store
